name: CI

on:
  push:
  pull_request:

jobs:
  rust:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: sequoia
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres -d sequoia"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    env:
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/sequoia
      RUST_BACKTRACE: 1

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust Toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Cache Cargo Artifacts
        uses: Swatinem/rust-cache@v2

      - name: Build And Test
        run: |
          cargo check -p sequoia-server
          cargo check -p sequoia-client
          cargo check -p sequoia-client --target wasm32-unknown-unknown
          cargo test -p sequoia-server -- --nocapture
